<div style="font-size: 20px">
    <div class="header-article-city" ng-parallax pattern="'./image/static-article/basel2.JPG'" speed="3" reverse="true">
        <h1>{{articles.city}}</h1>
        <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid officiis sequi </h2>
    </div>
    <div class="container article-city">
        <div style="margin: 80px 0 80px 0;border: 1px solid black;padding: 20px;text-align: center;border-radius: 50px;">
            <span>{{articles.city_description}}</span>
        </div>
    </div>
    <div class="header-article-region" ng-parallax pattern="'./image/static-article/baselRegion.png'" speed="3" reverse="true">
        <h1>{{articles.region}}</h1>
        <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid officiis sequi </h2>
    </div>
    <div class="container article-region">
        <div style="margin: 80px 0 80px 0;border: 1px solid black;padding: 20px;text-align: center;border-radius: 50px;">
            <span >{{articles.region_description}}</span>
        </div> 
    </div>

    <div class="container main_comment">
        <div class="add-comment container">
            <textarea name="addComment" ng-model="newComment.content"></textarea>
            <span class="buttonHover" ng-click="addComment()"><i class="glyphicon glyphicon-plus" ></i>Add Comment</span>
        </div>
        <div class="container comments-article">
            <div class="firstComment">
                <div class="comment-article" ng-repeat="comment in comments"> 
                    <div ng-include="'./app/views/map/country/swiss/comment_Static.html'"></div>
                    <div style="padding-left: 30px;" ng-if="comment.nested">
                        <div ng-repeat="comment in comment.nested">
                            <div ng-include="'./app/views/map/country/swiss/comment_Static.html'"></div>
                            <div style="padding-left: 30px;" ng-if="comment.nested">
                                <div ng-repeat="comment in comment.nested">
                                    <div ng-include="'./app/views/map/country/swiss/comment_Static.html'"></div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>