<div class="main-header" ng-controller="MainHeader">

       
        <div class="siteName">
            <h1>Tourist Hub</h1>
            <nav class="main-header-menu">
                <ul>
                    <li><a href="#/">Главная</a><i class="fas fa-home"></i></li>
                    <li><a href="#/global_map">Карты</a><i class="fas fa-map-marked-alt"></i></li>
                    <li><a href="#/articles-users">Статьи</a><i class="far fa-newspaper"></i></li>
                    <li ng-if="isLogged()"><a href="#/user-account">Личный кабинет</a><i class="far fa-user"></i></li>
                    <li ng-if="!isLogged()" ng-click="login()"><span>Войти</span><i class="far fa-user"></i></li>
                </ul>
            </nav>
            <h3>Tourist Hub - сайт для любителей активного отдыха и не только...</h3>
        </div>
</div>